.title_box {
	display:inline-block; 
	width:100%; 
	padding:10px 0 10px 0; 
	line-height:1.3em; 
	background:#EAEAEA; 
	color:#333333; 
	text-align:center; 
	font-size:16px; 
	font-weight:bold;
}

.post-title {
	width: 800px;
	margin: 18px auto 17px;
	border-bottom: 1px solid rgba(0,0,0,.05);
}
.post-title .textarea_tit {
	display: block;
	width: 100%;
	height: 56px;
	border: none;
	font-size: 30px;
	color: #202020;
	font-family: Noto Sans DemiLight,AppleSDGothicNeo-Regular,Malgun Gothic,dotum,sans-serif;
	resize: none;
	outline: 0 none;
	line-height: 40px;
	overflow: hidden;
	letter-spacing: -.4px;
}
.post-title .on::placeholder {
	color:red;
}
#select{
	width: 120px;
	height: 30px;
	border: 1px solid #e9e9e9;
	float: left;
	margin-bottom: 10px;
}
.textarea_cont {
	width: 100%;
	min-height: 400px;
	border: none;
	resize: none;
}
.textarea_cont:focus {
  outline: none;
}
.content-aside {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 66px;
	background-color: #f5f5f5;
	z-index: 1;
	overflow: hidden;
	text-align: right;
}
.content-aside .wrap_btn {
	float: right;
	padding: 13px;
}
.content-aside .wrap_btn .btn {
	width: 88px;
	margin: 0 4px;
	line-height: 38px;
	height: 40px;
	border-radius: 20px;
	border: 1px solid #d0d0d0;
}
.btn-default {
	background-color: #000;
	color: #fff;
	border: 1px solid #000;
}